html,
body {
  margin: 0;
  padding: 0;
  outline: 0;
  display: block;
  font-family: sans-serif;
  font-size: 15px;
  background-color: #eee;
  color: #616161;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke: 1px transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  background-color: #282828;
  font-family:'Roboto', sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family:'Raleway', sans-serif;
}

p,
a,
li,
label,
input,
blockquote,
cite,
div {
	font-family:'Muli', sans-serif;
}

h4 {
  font-size: 2.18rem;
  line-height: 110%;
  margin: 1.14rem 0 .912rem 0
}

[class*=ion],
h6 small,
p {
	color: #ffffff
}

a {
  color: #ff5722
}

h1 {
  font-weight: 700
}

h2,
h3,
h4 {
  font-weight: 600
}

h5,
h6 {
  font-weight: 500
}

p,
a,
li {
  font-weight: 400
}

h6 {
  font-size: 1.4em;
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.card {
  background-color: #303030;
}

#page-loader {
  background-color: #1c1c1c;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 6000;
  margin-top: 0;
  top: 0
}

#page-loader .text-div {
  width: 100%;
  position: absolute;
  top: 270px;
  color: #ffffff
}

#page-loader .text-div p,
#page-loader .text-div h6 {
  margin: 0;
  display: block;
  font-size: .9em;
  letter-spacing: 1px;
  font-weight: 300;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .29)
}

#page-loader .text-div h6 {
  margin-top: 5px;
  font-size: 1.3em
}

.spinner {
  width: 50px;
  height: 50px;
  background-color: #ff5722;
  margin: 200px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out
}

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }

  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }

  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
  }
}

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }

  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }

  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
  }
}

.back-to-top {
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

.section {
  position: relative;
  padding-top: 15px;
  padding-bottom: 30px
}

.section .section-title {
  margin-bottom: 50px
}

.section .section-title img {
  width: 66px;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  margin: -2px 12px -15px 12px;
  background: #303030
}

.social {
  z-index: 0 !important
}

#home .header-background {
  position: relative;
  display: block;
  width: 100%;
  height: 370px;
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed
}

#v-card-holder {
  overflow: visible;
  width: 100%;
  height: auto;
  margin-top: -194px
}

#v-card-holder #v-card {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  -webkit-transition: height 1s, color 1s, margin 1s;
  transition: height 1s, color 1s, margin 1s;
  z-index: 1;
  background: #303030;
  margin: -33px 3px 0 0
}

#v-card-holder #v-card .info-headings {
  max-width: 514px
}

#v-card-holder #v-card .info-headings h4 {
  display: block;
  width: 100%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .29)
}

#v-card-holder #v-card .info-headings h6 {
  display: block;
  width: 100%;
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: 1.2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .29)
}

#v-card-holder #v-card .infos {
  max-width: 515px;
  margin-top: 99px
}

#v-card-holder #v-card .infos .profile-list .title {
  display: block;
  float: left;
  line-height: 26px;
}

#v-card-holder #v-card .infos .profile-list .title i {
  font-size: 23px
}

#v-card-holder #v-card .infos .profile-list .title .fa {
  padding-left: 2px
}

#v-card-holder #v-card .infos .profile-list .content {
  display: block;
  margin-left: 30px;
  font-weight: 400;
  line-height: 20px;
  font-size: 16px
}

#v-card-holder #v-card .links {
  max-width: 500px;
  margin-left: -12px;
  margin-top: 12px;
  height: 100%
}

#v-card-holder #v-card .links .social {
  margin-left: 12px;
  margin-bottom: 4px
}

#v-card-holder #v-card .links .social i {
  font-size: 20px;
  vertical-align: middle;
  padding-bottom: 15px
}

@media screen and (max-width:400px) {
  #v-card-holder #v-card .links .social {
    margin: 4px
  }
}

@media screen and (max-width:295px) {
  #v-card-holder #v-card .links .social {
    margin: 1px
  }
}

@media screen and (max-width:990px) {
  #v-card-holder #v-card .infos {
    max-width: 278px
  }

  #v-card-holder #v-card .links {
    max-width: 325px
  }

  #v-card-holder #v-card .info-headings {
    max-width: 270px
  }
}

#v-card-holder #v-card #profile {
  position: absolute;
  right: 0;
  z-index: 1
}

#v-card-holder #v-card #profile img {
  width: 400px;
  height: auto
}

#v-card-holder #v-card #profile .slant {
  top: 0;
  z-index: 1;
  position: absolute;
  border-style: solid;
  border-width: 400px 0 0 100px;
  border-color: rgba(223, 50, 50, 0) transparent transparent #303030
}

#v-card-holder #v-card #profile .download-btn {
  position: absolute;
  background-color: #ff5722;
  top: 20%;
  right: 86%
}

#v-card-holder #v-card #profile .download-btn i {
  font-size: 25px;
  color: #ffffff
}

@media screen and (max-width:767px) {
  #v-card-holder #v-card {
    position: relative;
    width: 100%;
    overflow: visible;
    z-index: 1;
    top: 34px
  }

  #v-card-holder #v-card #profile {
    position: absolute;
    bottom: 85%;
    left: 0;
    width: 150px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    background-color: transparent
  }

  #v-card-holder #v-card #profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
  }

  #v-card-holder #v-card #profile .slant {
    display: none;
    opacity: 0;
    overflow: hidden
  }

  #v-card-holder #v-card #profile .download-btn {
    display: none
  }

  #v-card-holder #v-card .social {
    top: 0;
    margin-left: 5px;
    margin-bottom: 4px
  }

  #v-card-holder #v-card .infos {
    display: table;
    margin: 0 auto;
    max-width: 100%;
    padding: 0
  }

  #v-card-holder #v-card .links {
    display: table;
    max-width: 100%;
    padding: 0;
    margin: 0 auto 9px
  }

  #v-card-holder #v-card .links #first_one {
    margin-left: 0
  }

  #v-card-holder #v-card .info-headings {
    max-width: 100%;
    text-align: center;
    margin-top: 38px
  }

  #v-card-holder #v-card .info-headings h6 {
    margin-bottom: 20px
  }

  #v-card-holder #v-card .card-content {
    padding: 10px
  }
}

#about {
  transition: all 1s
}

#about .card-content {
  margin-top: 15px;
  background-color: #303030
}

#about .card-content p {
  margin-top: 15px;
  font-size: 18px;
}

.timeline {
  position: relative
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 23px;
  margin-left: -2px;
  height: 99.5%;
  width: 4px;
  opacity: .4;
  background: #ff5722
}

.timeline-dot {
  background: #ff5722;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  z-index: 2;
  color: #ffffff;
  text-align: center;
  position: absolute;
  margin-left: -10px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden
}

.timeline-block {
  position: relative
}

.timeline-block:after {
  clear: both;
  content: "";
  display: table
}

.timeline-block:first-child {
  margin-top: 0
}

.timeline-block:last-child {
  margin-bottom: 0
}

.timeline-block .card-content {
  padding: 20px;
  background-color: #303030
}

.timeline-block .card-content p,
.timeline-block .card-content li {
  margin-top: 13px;
  text-align: left;
}

.timeline-block .timeline-content {
  position: relative;
  margin-right: 0;
  z-index: 1;
  margin-bottom: 5px;
}

.timeline-block .timeline-content:before {
  content: '';
  width: 58px;
  height: 4px;
  position: absolute;
  top: 26px;
  left: 100%;
  z-index: -2;
  opacity: .4;
  background: #ff5722
}

.timeline-block .timeline-content:after {
  clear: both;
  content: "";
  display: table;
}

.timeline-block .timeline-content .timeline-title {
  max-width: 84%;
  font-weight: 400
}

.timeline-block .timeline-content .timeline-info h6 {
  line-height: 12px
}

@media screen and (max-width:768px) {
  .timeline:before {
    left: 0;
  }

  .timeline-block .timeline-content {
    border-right: 5px solid #ff5722;
    float: right;
  }

  .timeline-block .timeline-content:before {
    top: 25px;
    left: auto;
    right: 90%;
    z-index: -2
  }

  .timeline-block .timeline-content {
    width: 90%;
  }

  .timeline-block .timeline-dot {
    left: 0;
    top: 25px;
  }
}

@media only screen and (min-width:768px) {
  .timeline:before {
    left: 50%;
  }
  
  .timeline-block .timeline-dot {
    left: 50%;
    top: 17px;
  }

  .timeline-block {
    margin: -5em 0
  }

  .timeline-block .card {
    margin: 0
  }

  .timeline-block .timeline-content {
    width: 44%
  }

  .timeline-block .timeline-content .timeline-title {
    max-width: 100%
  }

  .timeline-block:nth-child(even) .timeline-content {
    float: right;
    border-right: 5px solid #ff5722
  }

  .timeline-block:nth-child(odd) .timeline-content {
    border-left: 5px solid #ff5722
  }

  .timeline-block:nth-child(even) .timeline-content:before {
    top: 25px;
    left: auto;
    right: 101.2%;
    z-index: -2
  }
}

#skills .card {
  background: #303030
}

#skills .card .skills-title {
  margin: 15px 0
}

#skills .card .skills-title h6 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .29)
}

#skills .card .skillbar {
  position: relative;
  display: block;
  margin-bottom: 17px;
  margin-top: 45px;
  width: 100%;
  padding: 0 0;
  background: #1c1c1c;
  height: 4px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color
}

#skills .card .skillbar .skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em
}

#skills .card .skillbar .skillbar-title span {
  display: block;
  padding: 3px 0;
  margin-top: -25px;
  line-height: 15px;
}

#skills .card .skillbar .skillbar-bar {
  height: 4px;
  width: 0;
  background: #ff5722
}

#skills .card .skillbar .skill-bar-percent {
  position: absolute;
  right: 1px;
  top: -20px;
  font-size: .8em;
  line-height: 15px
}

#skills .chartbar {
  margin-top: 17px
}

#skills .chartbar .chart {
  position: relative;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase
}

#skills .chartbar .chart>span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 16px
}

#skills .chartbar .chartbar-title {
  margin-top: 10px;
  font-size: 1rem
}

#skills .checkbar {
  margin-top: 17px
}

#skills .checkbar span {
  font-size: 1.2rem;
}

#skills span i {
  color: #ff5722
}

#portfolios {
  width: 100%;
  height: auto
}

#portfolios .portfolio {
  width: 100%;
  position: relative;
}

#portfolios .portfolio:hover {
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, .16), 0 10px 15px 0 rgba(0, 0, 0, .12)
}

#portfolios .portfolio img {
  width: 100%;
  height: auto;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  transition: 0.5s ease 0s
}

#portfolios .portfolio figure {
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: auto;
  text-align: center;
  cursor: pointer
}

#portfolios .portfolio figure figcaption {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  padding: 20px;
  text-align: center;
  font-weight: 400;
}

#portfolios .portfolio figure figcaption span {
  position: absolute;
  width: 200px;
  margin-left: -100px;
  left: 50%;
  top: 50%;
  color: #ffffff;
  font-size: 18px;
}

#portfolios .portfolio figure.hover-effect figcaption {
  background: rgba(66, 73, 80, .7);
  opacity: 0;
  -webkit-transition: 1s ease 0.15s;
  -moz-transition: 1s ease 0.15s;
  -o-transition: 1s ease 0.15s;
  transition: 1s ease 0.15s
}

#portfolios .portfolio figure.hover-effect figcaption:hover {
  opacity: 1
}

#portfolios .portfolio figure.hover-effect:hover img {
  -webkit-transform: scale3d(1.2, 1.2, 1.5);
  -moz-transform: scale3d(1.2, 1.2, 1.5);
  transform: scale3d(1.3, 1.3, 1)
}

#portfolios .portfolio h6 {
  line-height: 30px;
  padding: 10px 10px;
  padding-bottom: 20px;
  font-size: 1.2em;
  font-weight: 400;
  color: #ffffff
}

#interest {
  padding: 30px 20px 20px 20px;
}

#interest .interest-topic {
  margin: 10px 15px
}

#interest .interest-topic i {
  display: block;
  font-size: 35px;
  padding: 0
}

#interest .interest-topic span {
  display: block
}